<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modbus_String.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Modbus_String.Properties.Settings>
            <setting name="LastIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="SlaveID" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FirstRegister" serializeAs="String">
                <value>50</value>
            </setting>
        </Modbus_String.Properties.Settings>
    </userSettings>
</configuration>